<div id="<%= dom_id compra_item %>">
  <p>
    <strong>Valor unitario:</strong>
    <%= compra_item.valor_unitario %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= compra_item.valor_total %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= compra_item.quantidade %>
  </p>

</div>
