<h1>Editing compra item</h1>

<%= render "form", compra_item: @compra_item %>

<br>

<div>
  <%= link_to "Show this compra item", @compra_item %> |
  <%= link_to "Back to compra items", compra_itens_path %>
</div>
