<div id="<%= dom_id venda_item %>">
  <p>
    <strong>Valor unitario:</strong>
    <%= venda_item.valor_unitario %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= venda_item.valor_total %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= venda_item.quantidade %>
  </p>

</div>
