<h1>Editing venda item</h1>

<%= render "form", venda_item: @venda_item %>

<br>

<div>
  <%= link_to "Show this venda item", @venda_item %> |
  <%= link_to "Back to venda items", venda_itens_path %>
</div>
