<div id="<%= dom_id titulo_pagar %>">
  <p>
    <strong>Numero parcela:</strong>
    <%= titulo_pagar.numero_parcela %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <%= titulo_pagar.data_vencimento %>
  </p>

  <p>
    <strong>Valor parcela:</strong>
    <%= titulo_pagar.valor_parcela %>
  </p>

</div>
