<div id="<%= dom_id titulo_receber %>">
  <p>
    <strong>Numero parcela:</strong>
    <%= titulo_receber.numero_parcela %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <%= titulo_receber.data_vencimento %>
  </p>

  <p>
    <strong>Valor parcela:</strong>
    <%= titulo_receber.valor_parcela %>
  </p>

</div>
