<h1>Editing titulo receber</h1>

<%= render "form", titulo_receber: @titulo_receber %>

<br>

<div>
  <%= link_to "Show this titulo receber", @titulo_receber %> |
  <%= link_to "Back to titulo recebers", titulos_receber_path %>
</div>
